nav.header
    input(type="checkbox", id="toggle-top-menu")
    ul.header__menu-list
        each item in data["top-menu"]
            li.header__menu-item
                if item.type == 'dropdown'
                    input(type="checkbox", id="toggle-sub-menu")
                    label.header__menu-link(for="toggle-sub-menu")
                        span=item.text
                        span.rbcf-circle-down
                    ul.header__sub-menu
                        each dropdown in item.children
                            li 
                                a.dropdown__link(href=dropdown.href, target=dropdown.target)=dropdown.text
                else
                    if item.baseUrl == '0'
                        a.header__menu-link(href=`${item.href}`, target=item.target)=item.text
                        else 
                            a.header__menu-link(href=`${baseUrl}${item.href}`, target=item.target)=item.text
    .header__top
        //- span.header__name Roberto Blake
        a.header__name(href=`${baseUrl}`) Roberto Blake
        label.rbcf-menu(for="toggle-top-menu")
