footer
    .footer__social
        .footer__text
            h2 Let's Connect
            p Feel free to reach out to me!
            p
                a(href='tel:+1-518-406-8664') P: 518.406.8664
            p
                img(
                    src="/asset/image/roberto-blake-email.png",
                    title="Let's have a quick chat",
                    width="190",
                    height="20",
                )
        ul
            each social in data.footer
                li.social__item
                    a.social__icon(
                        href=social.href,
                        title=social.label
                    )
                    p.social__description=social.description
    p Copyright &copy; 2019 - #{new Date().getFullYear()} · All Rights Reserved
    p
        a.footer__link(href="#top") Roberto Blake